/* =========================
   RESET
========================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #f4eee7;
    color: #171514;
    font-family: "DM Sans", sans-serif;
}


/* =========================
   NAVBAR
========================= */

header {
    width: 100%;
}

.navbar {
    width: 90%;
    max-width: 1300px;
    margin: auto;

    padding: 28px 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 30px;
    font-weight: 700;
}

.logo span {
    color: #d47788;
}

.nav-menu {
    display: flex;
    gap: 40px;
    list-style: none;
}

.nav-menu a {
    text-decoration: none;
    color: #171514;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.nav-menu a:hover {
    color: #d47788;
}

.nav-button {
    text-decoration: none;

    background: #171514;
    color: white;

    padding: 12px 20px;

    border-radius: 50px;

    font-size: 13px;
}


/* =========================
   HERO
========================= */

.hero {
    width: 90%;
    max-width: 1300px;

    margin: auto;

    min-height: 650px;

    display: grid;
    grid-template-columns: 1.2fr 0.8fr;

    align-items: center;

    gap: 50px;
}

.small-text {
    font-size: 12px;
    letter-spacing: 3px;
    font-weight: 700;
}

.hero h1 {
    font-size: clamp(55px, 7vw, 100px);
    line-height: 0.95;

    max-width: 850px;

    margin: 25px 0;
}

.hero h1 span,
.hero h1 em {
    font-family: "Playfair Display", serif;
    color: #d47788;
}

.hero-description {
    max-width: 500px;

    line-height: 1.7;

    color: #69625d;
}

.hero-buttons {
    margin-top: 35px;

    display: flex;
    gap: 15px;
    align-items: center;
}

.button-primary {
    background: #171514;
    color: white;

    padding: 16px 25px;

    border-radius: 50px;

    text-decoration: none;

    font-size: 14px;
}

.button-secondary {
    color: #171514;

    padding: 15px 25px;

    border: 1px solid #171514;

    border-radius: 50px;

    text-decoration: none;

    font-size: 14px;
}


/* =========================
   HERO ART
========================= */

.hero-right {
    height: 500px;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.circle {
    width: 350px;
    height: 350px;

    border-radius: 50%;

    background: #d8a7a7;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.circle::after {
    content: "";

    position: absolute;

    width: 270px;
    height: 270px;

    border-radius: 50%;

    border: 1px solid #171514;
}

.circle-text {
    font-size: 12px;

    letter-spacing: 5px;

    transform: rotate(-25deg);

    z-index: 2;
}

.hero-card {
    position: absolute;

    right: 20px;
    bottom: 60px;

    background: #171514;
    color: white;

    width: 150px;
    height: 170px;

    padding: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-card span {
    font-size: 12px;
}

.hero-card p {
    font-family: "Playfair Display", serif;
    font-size: 25px;
}


/* =========================
   MARQUEE
========================= */

.marquee {
    overflow: hidden;

    background: #171514;
    color: white;

    padding: 20px 0;

    white-space: nowrap;

    font-size: 13px;

    letter-spacing: 3px;
}

.marquee div {
    animation: move 20s linear infinite;
}

@keyframes move {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}


/* =========================
   ABOUT
========================= */

.about {
    width: 90%;
    max-width: 1300px;

    margin: auto;

    padding: 130px 0;
}

.section-number {
    font-size: 11px;

    letter-spacing: 3px;

    color: #8a817a;
}

.about-content {
    margin-top: 70px;

    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 100px;
}

.about-title h2 {
    font-size: 70px;
    line-height: 1;
}

.about-title em,
.works h2 em,
.quote em,
.contact h2 em {
    font-family: "Playfair Display", serif;
    color: #d47788;
}

.about-text {
    max-width: 550px;
}

.big-text {
    font-size: 25px;
    line-height: 1.4;

    margin-bottom: 30px;
}

.about-text p:not(.big-text) {
    color: #6e6762;

    line-height: 1.8;

    margin-bottom: 15px;
}

.text-link {
    display: inline-block;

    margin-top: 20px;

    color: #171514;

    text-decoration: none;

    border-bottom: 1px solid #171514;

    padding-bottom: 5px;
}


/* =========================
   SKILLS
========================= */

.skills {
    background: #e7ddd4;

    padding: 100px 5%;
}

.skills-grid {
    max-width: 1300px;

    margin: 60px auto 0;

    display: grid;
    grid-template-columns: repeat(4, 1fr);

    gap: 20px;
}

.skill-item {
    border-top: 1px solid #99908a;

    padding-top: 20px;

    min-height: 220px;
}

.skill-item span {
    font-size: 12px;
    color: #8a817a;
}

.skill-item h3 {
    margin: 40px 0 15px;

    font-size: 24px;
}

.skill-item p {
    color: #6e6762;

    line-height: 1.6;

    font-size: 14px;
}


/* =========================
   WORKS
========================= */

.works {
    width: 90%;
    max-width: 1300px;

    margin: auto;

    padding: 130px 0;
}

.works-header {
    margin-bottom: 70px;
}

.works h2 {
    font-size: 70px;

    line-height: 1;

    margin-top: 25px;
}

.project-grid {
    display: grid;

    grid-template-columns: repeat(2, 1fr);

    gap: 70px 30px;
}

.project-image {
    height: 500px;

    position: relative;

    overflow: hidden;

    transition: 0.4s;
}

.project:hover .project-image {
    transform: translateY(-8px);
}

.image-one {
    background:
        linear-gradient(135deg, #d8a7a7, #e9d5c9);
}

.image-two {
    background:
        linear-gradient(135deg, #242020, #756464);
}

.image-three {
    background:
        linear-gradient(135deg, #c5b9a8, #e6ddd3);
}

.image-four {
    background:
        linear-gradient(135deg, #9c8b82, #d5c3b8);
}

.image-label {
    position: absolute;

    top: 20px;
    left: 20px;

    background: #f4eee7;

    padding: 8px 13px;

    font-size: 10px;

    letter-spacing: 2px;
}

.project-info {
    display: flex;

    justify-content: space-between;

    padding-top: 18px;
}

.project-info h3 {
    font-size: 23px;
}

.project-info p {
    color: #817871;

    font-size: 13px;

    margin-top: 5px;
}

.project-info span {
    font-size: 13px;
}


/* =========================
   QUOTE
========================= */

.quote {
    background: #171514;

    color: white;

    padding: 150px 10%;

    text-align: center;
}

.quote-small {
    font-size: 11px;

    letter-spacing: 4px;

    color: #aaa19a;

    margin-bottom: 35px;
}

.quote h2 {
    font-size: clamp(40px, 6vw, 80px);

    line-height: 1.1;

    max-width: 1000px;

    margin: auto;
}


/* =========================
   CONTACT
========================= */

.contact {
    width: 90%;
    max-width: 1300px;

    margin: auto;

    padding: 130px 0;
}

.contact-content {
    margin-top: 70px;

    display: grid;

    grid-template-columns: 1.5fr 0.5fr;

    gap: 50px;
}

.contact h2 {
    font-size: clamp(50px, 7vw, 90px);

    line-height: 0.95;

    margin-top: 25px;

    max-width: 900px;
}

.contact-links {
    display: flex;

    flex-direction: column;

    gap: 20px;

    justify-content: end;
}

.contact-links a {
    color: #171514;

    text-decoration: none;

    border-bottom: 1px solid #aaa19a;

    padding-bottom: 12px;

    font-size: 14px;
}

.contact-links a:hover {
    color: #d47788;
}


/* =========================
   FOOTER
========================= */

footer {
    border-top: 1px solid #c7bdb5;

    width: 90%;
    max-width: 1300px;

    margin: auto;

    padding: 25px 0;

    display: flex;

    justify-content: space-between;

    font-size: 10px;

    letter-spacing: 2px;

    color: #817871;
}


/* =========================
   RESPONSIVE
========================= */

@media (max-width: 900px) {

    .nav-menu {
        display: none;
    }

    .hero {
        grid-template-columns: 1fr;

        padding: 70px 0;
    }

    .hero-right {
        height: 400px;
    }

    .circle {
        width: 280px;
        height: 280px;
    }

    .about-content {
        grid-template-columns: 1fr;

        gap: 50px;
    }

    .skills-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .project-grid {
        grid-template-columns: 1fr;
    }

    .contact-content {
        grid-template-columns: 1fr;
    }

}


@media (max-width: 600px) {

    .navbar {
        width: 85%;
    }

    .nav-button {
        display: none;
    }

    .hero,
    .about,
    .works,
    .contact {
        width: 85%;
    }

    .hero h1 {
        font-size: 55px;
    }

    .about-title h2,
    .works h2 {
        font-size: 50px;
    }

    .skills {
        padding: 80px 7.5%;
    }

    .skills-grid {
        grid-template-columns: 1fr;
    }

    .project-image {
        height: 400px;
    }

    .quote {
        padding: 100px 8%;
    }

    .contact h2 {
        font-size: 50px;
    }

    footer {
        width: 85%;

        flex-direction: column;

        gap: 10px;
    }

}